footer#page-footer {
    background-color: var(--bg-main);
    color:  var(--c-text);
    padding-bottom: 0;
    ul {
        list-style: none;
        padding: 0;
    }
    .site-logo {
        max-height: 48px;
        padding: 0;
        max-width: 300px;
        display: inline-block;
        svg {
            fill: var(--c-text)!important;
        }
    }
    .site-logo-large {
        max-height: 150px;
    }
    ul.rrss:not(:empty) {
        display: flex;
        gap: 1.5rem;
        font-size: 18px;
        margin-block: 0!important;
        li {
            padding: 0;
        }
    }
    .footer-logos {
        padding-top: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
        .logo {
            display: flex;
            align-items: center;
            img {
                max-height: 50px;
            }
        }
    }
    #footer-navigation {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        gap: 4rem;
        font-size: .8em;
        .menu-item-has-children {
            > a {
                font-weight: 400;
                pointer-events: none;
                font-family: $font-accent;
                color: var(--c-text-grey);
            }
            .sub-menu {
                padding-top: 0.2em;
                a {
                    font-weight: 500;
                }
            }
        }
    }
    p {
        white-space: nowrap;
        margin: 0;
    }
    .footer-top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 1rem 0;
        .container {
            display: flex;
        }
    }
    .footer-bottom {
        margin-top: 1rem;
        color: var(--c-text-grey);
        font-size: .8em;
        .container {
            border-top: var(--u-border-light);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            gap: 1rem;
            width: 100%;
            padding: 1rem 0;
        }
    }
}

@include mq("md-down") {
    footer#page-footer .footer-top, footer#page-footer .footer-bottom {
        flex-direction: column;
    }
    footer#page-footer #bottom-navigation {
        flex-wrap: wrap;
        gap: 0;
        margin-bottom: 1rem;
        justify-content: center;
        li:not(:last-child):after {
            padding: 0 .5em;
        }
    }
    footer#page-footer .footer-rrss {
        text-align: center;
        .site-logo {
            justify-content: center;
        }
        ul.rrss {
            justify-content: center;
            margin-block: 0!important;
        }
    }
    footer#page-footer #footer-navigation {
        justify-content: center;
    }
    footer#page-footer .footer-logos {
        justify-content: center;
        align-items: center;
    }
}

@include mq("sm") {
    footer#page-footer #footer-navigation {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        //align-items: center;
    }
    footer#page-footer .footer-top .container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    footer#page-footer .footer-logos {
        flex-direction: column;
        margin-top: 2rem;
    }
    footer#page-footer .site-logo-large {
        max-height: 300px;
        height: 200px;
    }
}

.grecaptcha-badge { 
    visibility: hidden;
}