/*
 * CSS classes and styles related to general page layout
 *

 * 1. HTML Body
 * 2. Container & content sections
 * 3. Page layout & page w/ sidebar
 * 4. Headers
 * 5. Breakpoints (mobile)
 * 
 */

// ----------------------------------
//  1. HTML Body
// ----------------------------------

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
    overflow-x: hidden;
    max-width: 100vw;
    >footer {
        flex-grow: 1;
    }

    &.admin-bar {
        min-height: calc(100vh - 32px);
    }
}

#wpadminbar {
    position: absolute;
}

// ----------------------------------
//  2. Container & content sections
// ----------------------------------

.container {
    max-width: var(--s-container);
    width: 100%;
    margin: auto;
}

.thin {
    --s-container: min(90%, 60rem);
}

section {
    .section-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        h1,
        h2 {
            margin: 0;
        }
    }
}

#main-content {
    width: 100%;
    // max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--bg-main);
    margin: 0px auto;
}

.post-content {
    width: 100%;
    margin-bottom: 4rem;
}

// ----------------------------------
//  3. Page layout & page w/ sidebar
// ----------------------------------

.page-with-sidebar {
    display: flex;
    gap: 3em;

    .page-sidebar {
        flex-shrink: 0;
        width: 25%;
    }

    #main-content {
        flex-grow: 1;
        max-width: 100%;
    }
}

.page-with-sidebar.sidebar-opposite {
    flex-direction: row-reverse;
}

// ----------------------------------
//  4. Headers
// ----------------------------------

header {
    --header-min-height: 100%;

    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    min-height: var(--header-min-height);
    position: relative;
    display: flex;
}


// ----------------------------------
//  5. Breakpoints (mobile)
// ----------------------------------

@include mq("lg-up") {
    .content-section:not(.no-margin) {
        padding: 4rem 0;
    }

    #main-content {

        //padding-bottom: 4rem;
        >p {
            margin: 2rem 0;
        }
    }

    .page-with-sidebar {
        padding-top: 1rem;
    }
}

@include mq("lg-down") {
    .content-section:not(.no-margin) {
        padding-block: 1.5rem;
    }

    #main-content {

        //padding-bottom: 2rem;
        >p {
            margin: 1rem 0;
        }
    }

    .page-with-sidebar {

        //padding-top: 2rem;
        .page-sidebar {
            display: none;
        }
    }
}