.gallery {
    display: grid;
    gap: 1rem;
    .gallery-item {
        text-align: center;
        border-radius: var(--u-border-radius-lg);
        overflow: hidden;
        &.square {
            aspect-ratio: 1;
        }
        &.wide {
            aspect-ratio: 16/9;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &.col4_2_1 {
        grid-template-columns: repeat(4, 1fr);
    }
    &.col6_3_1 {
        grid-template-columns: repeat(6, 1fr);
    }
    &.col2_1_1 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 100; /* Ensure it's on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
    justify-content: center;
    align-items: center;
}

/* Modal image */
.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: var(--u-border-radius-lg);
}

/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Blur effect for the rest of the page when modal is active */
.modal-active .content-section {
    filter: blur(10px); /* Apply blur effect */
}


@include mq("md-down") {
    .gallery {
        &.col4_2_1 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.col6_3_1 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.col2_1_1 {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@include mq("sm") {
    .gallery {
        gap: 0.5rem;
        &.col4_2_1 {
            grid-template-columns: repeat(1, 1fr);
        }
        &.col6_3_1 {
            grid-template-columns: repeat(1, 1fr);
        }
        &.col2_1_1 {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}