.media-video-section video {
    width: 100%;
}
.media-video-section .container {
    border-radius: var(--u-border-radius-lg);
    overflow: hidden;
    box-shadow: var(--u-shadow);
    border: var(--u-border-light);
    aspect-ratio: 16 / 9;
}
.media-video-section iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}