.text-media-section .container {
    display: flex;

    &.media-after {
        flex-direction: column;
        gap: 2rem;
    }
    &.media-before {
        flex-direction: column-reverse;
        gap: 2rem;
    }
    &.media-left {
        flex-direction: row-reverse;
        gap: 4rem;
    }
    &.media-right {
        flex-direction: row;
        gap: 4rem;
    }

    .media-elm {
        flex-basis: 40%;
    }
    .text-elm {
        flex-basis: 60%;
    }

    .media-elm > * {
        width: 100%;
    }
    .media-elm iframe {
        height: 100%;
        aspect-ratio: 16/9;
    }

    .text-elm {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .button-group {
            margin-top: 1.5rem;
        }
        h2 {
            margin: 0 0 0.5rem;
            font-size: 3rem;
            font-style: italic;
        }
        h2 + p {
            margin-top: 0!important;
        }
    }
}

@include mq("lg-up") {
    .text-media-section .container {
        &.media-after {
            max-width: 60%;
            margin: auto;
        }
        &.media-before {
            max-width: 60%;
            margin: auto;
        }    
    }
}
@include mq("md-down") {
    .text-media-section .container {
        &.media-after {
            flex-direction: column;
            gap: 1rem;
        }
        &.media-before {
            flex-direction: column-reverse;
            gap: 1rem;
        }
        &.media-left, &.media-right {
            flex-direction: column;
            gap: 1rem;
        }
        // &.media-right {
        //     flex-direction: column-reverse;
        //     gap: 1rem;
        // }
        .media-elm {
            padding-block: 1rem;
        }
        .button-group {
            margin: 0px auto;
        }
    }
}