*[class*="backdrop"]::after, *[class*="backdrop"]::before {
    pointer-events: none;
}
.backdrop-gradient::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #F5F5DC00, #F5F5DC70);
}
.backdrop-gradient-bottom::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #F5F5DC00, 75%, #F5F5DC40);
}
.backdrop-gradient-both::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #F5F5DC, #F5F5DC00 20%, #F5F5DC00 80%, #F5F5DC);
}
.backdrop-vignette::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: radial-gradient(#F5F5DC00, #F5F5DC40);
}
.backdrop-blur {
    backdrop-filter: blur(10px);
}