/*
 * Blog post content styling
 */

article.post-card, article.post-mini {
    a.post-image {
        position: relative;
        width: 100%;
        display: block;
        line-height: 0;
        overflow: hidden;
        border-radius: var(--u-border-radius-lg);
        box-shadow: var(--u-shadow);
        border: var(--u-border-light);
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            transition: transform 0.5s;
        }
        &.video-thumbnail {
            background-color: black;
            img {
            opacity: 0.75;
            }
        }
        &.video-thumbnail::after {
            position: absolute;
            top: 50%;
            left: calc(50% - 30px);
            z-index: 1;
            @include icon();
            content: '\ed46';
            color: #fff;
            font-size: 60px;
        }
        &:hover img {
            transform: scale(1.025);
        }
    }
    .post-text {
        margin: 0.75rem 0;
        h3, p {
            margin: 0.2rem 0;
        }
        h3 {
            font-size: map-get($font-size, "default");
            a {
                color: var(--c-text); 
           }
            a:hover, a:focus, a:focus-within, a:focus-visible {
                color: var(--c-primary-light);
            }
        }
        p {
            font-size: map-get($font-size, "small");
            color: var(--c-text-grey);
            text-transform: capitalize;
            line-height: 1rem;
        }
    }
}

article.post-mini .post-text {
    margin-top: 0;
}

#post-header {
    .post-info {
        color: var(--c-text-light);
    }
}
.older-posts .post-mini {
    margin-bottom: 1.5rem;
}