table {
    border-collapse: collapse;
    td, th {
        padding: .4rem .8rem;
        text-align: left;
    }
    th {
        background-color: var(--bg-main);
    }
}

table, th, td {
    border: var(--u-border);
}